---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Container from '../components/Container.astro';
import Button from '../components/Button.astro';
import { Image } from 'astro:assets';
import LinkCard from '../components/LinkCard.astro';
import RightArrowIcon from '../components/icons/RightArrowIcon.astro';
import YoutubeIcon from '../components/icons/YoutubeIcon.astro';
import InstagramIcon from '../components/icons/InstagramIcon.astro';
---

<Layout title="GTA Landing Page">
    
    <section>
        <Container>
            <div class="w-10/12 mx-auto text-center flex flex-col gap-3">
                <h1>Cel Mai Mare Server de FiveM din Romania</h1>
                <p>Suntem cea mai mare comunitate de FiveM din Romania. Cu 15.000+ membri activi pe discord, va punem la dispozitie o experienta unica si frumoasa de Roleplay.</p>
                
                <div class="flex items-center justify-center gap-x-3 mt-3">
                    <Button>Cum Ma Pot Juca?</Button>
                    <Button variant="secondary">Intra pe Forum</Button>
                </div>
            </div>
        </Container>
    
        <Image loading="eager" src="/assets/beach-girl.png" alt="Beach Girl" width={1440} height={515} class="w-full aspect-auto" />
    </section>

    <section>
        <Container>
            <div class="grid grid-cols-3 gap-5">
                <LinkCard imageUrl='/assets/regulament.png' href="/">
                    <h2 class="h3">Regulament</h2>
                </LinkCard>

                <LinkCard imageUrl='/assets/forum.png' href="/">
                    <h2 class="h3">Forum</h2>
                </LinkCard>

                <LinkCard imageUrl='/assets/donatii.png' href="/">
                    <h2 class="h3">Donatii</h2>
                </LinkCard>
            </div>
        </Container>
    </section>

    <section>
        <Container>
            <div class="text-center mb-12">
                <h2 class="h1">Tu Cine Vrei Sa Fii?</h2>
            </div>

            <div class="grid grid-cols-2 gap-5 pt-24">

                <Card className="relative z-0 !p-0 min-h-[65vh] overflow-visible group">
                    <Image src="/assets/clasa-muncitoare.png" alt="Clasa Muncitoare" width={645} height={555} class="transition-all duration-200 rounded-md absolute inset-0 -z-20 w-full h-full object-cover grayscale group-hover:grayscale-0" />
                    <Image src="/assets/muncitor.png" alt="Muncitor" width={928} height={1232} class="transition-all duration-500 absolute -z-10 left-2 bottom-0 h-[calc(100%+64px)] group-hover:h-[calc(100%+96px)] w-auto -scale-x-100" />


                    <div class="rounded-md w-full h-full flex flex-col justify-end gap-2 bg-gradient-to-t p-4 from-30% from-dark/85 to-dark/0">
                        <h3 class="h2">Clasa Muncitoare</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Senectus sit duis ac ut aliquet amet ultricies amet.</p>
                    </div>
                </Card>

                <Card className="relative z-0 !p-0 min-h-[65vh] overflow-visible group">
                    <Image src="/assets/mafia-los-santos.png" alt="Mafia Los Santos" width={645} height={555} class="transition-all duration-200 rounded-md absolute inset-0 -z-20 w-full h-full object-cover grayscale group-hover:grayscale-0" />
                    <Image src="/assets/mafiot.png" alt="Mafiot" width={928} height={1232} class="transition-all duration-500 absolute -z-10 right-2 bottom-0 h-[calc(100%+64px)] group-hover:h-[calc(100%+96px)] w-auto" />

                    <div class="rounded-md w-full h-full flex flex-col justify-end gap-2 bg-gradient-to-t p-4 from-30% from-dark/85 to-dark/0">

                        <h3 class="h2">Mafia Los Santos</h3>
                        <p>Lorem ipsum dolor sit amet consectetur. Senectus sit duis ac ut aliquet amet ultricies amet.</p>
                    </div>
                </Card>
            </div>
        </Container>
    </section>

    <section>
        <Container>
            <div class="text-center mb-12">
                <h2 class="h1">
                    <span class="block mb-2">
                        Incepe Aventura In
                    </span>
                    <span class="block w-fit mx-auto bg-primary px-12 py-6 -skew-x-12">
                        <span class="block skew-x-12">
                            3 Pasi Simpli
                        </span>
                    </span>
                </h2>
            </div>

            <div class="grid grid-cols-3 gap-5">
                <Card className="bg-top bg-cover p-0 min-h-[65vh]" style="background-image: url(/assets/obtine-copie-gta.png)">
                    <div class="w-full h-full p-4 flex flex-col gap-2 justify-end bg-gradient-to-t from-25% from-dark/75 to-dark/15">
                        <h3 class="h4">
                            1. Obtine o Copie Autorizata a 
                            <span class="text-primary">
                                Grand Theft Auto 5
                            </span>
                        </h3>
                        <p class="sm *:font-bold *:text-white *:transition-all *:duration-100 hover:*:text-primary">
                            Acesta poate fi cumparata de pe platforme precum 
                            <a href="https://store.epicgames.com/en-US/p/grand-theft-auto-v" target="_blank">
                                Epic Games
                            </a>
                            , <a href="https://store.steampowered.com/app/271590/Grand_Theft_Auto_V/">
                                Steam
                            </a>
                            sau 
                            <a href="https://socialclub.rockstargames.com/rockstar-games-launcher">
                                Rockstar Launcher.
                            </a>
                        </p>
                    </div>
                </Card>

                <Card className="bg-top bg-cover p-0 min-h-[65vh]" style="background-image: url(/assets/descarca-fivem.png)">
                    <div class="w-full h-full p-4 flex flex-col gap-2 justify-end bg-gradient-to-t from-25% from-dark/75 to-dark/15">
                        <h3 class="h4">
                            2. Descarca si Instaleaza
                            <span class="text-primary">
                                Platforma FiveM
                            </span>
                        </h3>
                        <Button variant="plain" size="sm" className="group">
                            Descarca FiveM

                            <span class="group-hover:ml-1.5 transition-all duration-150">
                                <RightArrowIcon />
                            </span>
                        </Button>
                    </div>
                </Card>

                <Card className="bg-top bg-cover p-0 min-h-[65vh]" style="background-image: url(/assets/conecteaza-te-pe-server.png)">
                    <div class="w-full h-full p-4 flex flex-col gap-2 justify-end bg-gradient-to-t from-25% from-dark/75 to-dark/15">
                        <h3 class="h4">
                            3. Conecteaza-Te Pe
                            <span class="block text-primary">
                                Serverul Nostru
                            </span>
                        </h3>
                        <p class="sm *:font-bold">
                            Lorem ipsum dolor sit amet consectetur. Senectus sit duis ac ut aliquet amet ultricies amet.
                        </p>
                    </div>
                </Card>
            </div>
        </Container>
    </section>

    <section>
        <Container>
            <Image src="/assets/incepe-aventura.png" alt="Incepe Aventura" width={1920} height={1200}/>

            <div class="text-center">
                <h2 class="h1 mb-6">
                    <span class="block mb-2">
                        Pregatit Sa Dai Start La
                    </span>
                    <span class="block w-fit mx-auto bg-primary px-12 py-6 -skew-x-12">
                        <span class="block skew-x-12">
                            Noua Ta Viata?
                        </span>
                    </span>
                </h2>
        
                <a href="/intra-pe-server">
                    <Button as="span" variant="white" className="mx-auto">Intra pe Server</Button>
                </a>
            </div>

        </Container>
    </section>

    <footer>
        <Container className="!py-6 border-t border-subheading">
            <div class="flex gap-5 justify-between items-center">
                <p class="!font-bold text-white">© Copyright 2024 FPlayT Community. All rights reserved.</p>
            
                <div class="flex items-center gap-4">
                    <a href="https://youtube.com/" class="aspect-square rounded-full p-3 bg-white hover:bg-white/75 text-dark">
                        <YoutubeIcon/>
                    </a>
        
                    <a href="https://instagram.com/" class="aspect-square rounded-full p-3 bg-white hover:bg-white/75 text-dark">
                        <InstagramIcon/>
                    </a>
                </div>
            </div>
        </Container>
    </footer>
</Layout>