---
export interface Props {
    className?: string;
}

const {className} = Astro.props;
---

<div class:list={["px-3 md:px-8 lg:px-10 xl:px-14 2xl:px-16 py-12 max-w-screen-2xl mx-auto", className]}>
    <slot />
</div>