---
import Card from "./Card.astro";

export interface Props {
    imageUrl: string;
    href: string;
}

const {imageUrl, href} = Astro.props;
const backgroundImage = `background-image: url(${imageUrl})`;
---

<a class="block" href={href}>
    <Card className="h-full min-h-80 !p-0 transition-all duration-100 hover:border-primary bg-top bg-cover overflow-hidden" style={backgroundImage}>
        <slot/>
    </Card>
</a>