---
import Container from "../components/Container.astro";
import LifeCard from "../components/LifeCard.astro";
---

<section>
    <Container>
        <div class="text-center mb-12">
            <h2>Tu Cine Vrei Sa Fii?</h2>
        </div>

        <div class="grid lg:grid-cols-2 gap-8 lg:gap-5 pt-8 lg:pt-24">
            <LifeCard
                href="/forum/clasa-muncitoare"
                title="Clasa Muncitoare"
                description="Lorem ipsum dolor sit amet consectetur. Senectus sit duis ac ut aliquet amet ultricies amet."
                backgroundUrl="/assets/alege-stilul/clasa-muncitoare.png"
                characterImage={{
                    src: "/assets/alege-stilul/muncitor.png",
                    width: 928,
                    height: 1232
                }}
            />

            <LifeCard
                href="/forum/mafia-los-santos"
                title="Mafia Los Santos"
                description="Lorem ipsum dolor sit amet consectetur. Senectus sit duis ac ut aliquet amet ultricies amet."
                backgroundUrl="/assets/alege-stilul/mafia-los-santos.png"
                characterImage={{
                    src: "/assets/alege-stilul/mafiot.png",
                    width: 1090,
                    height: 1712
                }}
                characterPosition="right"
            />
        </div>
    </Container>
</section>