---
import { Image } from "astro:assets";
import Card from "../components/Card.astro";
import Container from "../components/Container.astro";
import LifeCard from "../components/LifeCard.astro";
---

<section>
    <Container>
        <div class="text-center mb-12">
            <h2 class="h1">Tu Cine Vrei Sa Fii?</h2>
        </div>

        <div class="grid grid-cols-2 gap-5 pt-24">
            <LifeCard
                title="Clasa Muncitoare"
                description="Lorem ipsum dolor sit amet consectetur. Senectus sit duis ac ut aliquet amet ultricies amet."
                backgroundUrl="/assets/clasa-muncitoare.png"
                characterImage={{
                    src: "/assets/muncitor.png",
                    width: 928,
                    height: 1232
                }}
            />

            <LifeCard
                title="Mafia Los Santos"
                description="Lorem ipsum dolor sit amet consectetur. Senectus sit duis ac ut aliquet amet ultricies amet."
                backgroundUrl="/assets/mafia-los-santos.png"
                characterImage={{
                    src: "/assets/mafiot.png",
                    width: 1090,
                    height: 1712
                }}
                characterPosition="right"
            />
        </div>
    </Container>
</section>