---
import { Image } from "astro:assets";

import Container from "../components/Container.astro";
import Button from "../components/Button.astro";
import SkewText from "../components/SkewText.astro";
---

<section>
    <div class="relative block lg:hidden w-full aspect-video overflow-clip">
        <Image class="absolute -z-10 w-[150%] max-w-none left-1/2 -translate-x-1/2" src="/assets/incepe-aventura.png" alt="Incepe Aventura" width={1920} height={1200}/>
    </div>

    <Container className="flex flex-col gap-8">
        <Image class="hidden lg:block w-full" src="/assets/incepe-aventura.png" alt="Incepe Aventura" width={1440} height={611}/>
        
        <div class="text-center">
            <h2 class="mb-6">
                <span class="block mb-2">
                    Pregatit Sa Dai Start La
                </span>
                <span class="h2">
                    <SkewText>
                        Noua Ta Viata?
                    </SkewText>
                </span>
            </h2>
            
            <a href="/intra-pe-server">
                <Button as="span" variant="white" className="mx-auto">Intra pe Server</Button>
            </a>
        </div>

    </Container>
    
</section>