---
import Container from "../components/Container.astro";
import InstagramIcon from "../components/icons/InstagramIcon.astro";
import YoutubeIcon from "../components/icons/YoutubeIcon.astro";
---

<footer>
    <Container className="!py-6 border-t border-subheading">
        <div class="flex gap-5 justify-between items-center">
            <p class="!font-bold text-white">© Copyright 2024 <a href="https://www.petregabriel.ro/">Petre Gabriel</a>. All rights reserved.</p>
        
            <div class="flex items-center gap-4">
                <a aria-label="Youtube" href="https://youtube.com/" class="aspect-square rounded-full p-3 bg-white hover:bg-white/75 text-dark">
                    <YoutubeIcon/>
                </a>
    
                <a aria-label="Instagram" href="https://instagram.com/" class="aspect-square rounded-full p-3 bg-white hover:bg-white/75 text-dark">
                    <InstagramIcon/>
                </a>
            </div>
        </div>
    </Container>
</footer>