---
import { Image } from "astro:assets";

import Container from "../components/Container.astro";
import Button from "../components/Button.astro";
---

<section>
    <Container>
        <div class="w-10/12 mx-auto text-center flex flex-col gap-3">
            <h1>Cel Mai Mare Server de FiveM din Romania</h1>
            <p>Suntem cea mai mare comunitate de FiveM din Romania. Cu 15.000+ membri activi pe discord, va punem la dispozitie o experienta unica si frumoasa de Roleplay.</p>
            
            <div class="flex items-center justify-center gap-x-3 mt-3">
                <Button>Cum Ma Pot Juca?</Button>
                <Button variant="secondary">Intra pe Forum</Button>
            </div>
        </div>
    </Container>

    <Image loading="eager" src="/assets/beach-girl.png" alt="Beach Girl" width={1440} height={515} class="w-full aspect-auto" />
</section>