---
import Container from "../components/Container.astro";
import LinkCard from "../components/LinkCard.astro";
---

<section>
    <Container>
        <div class="grid lg:grid-cols-3 gap-5">
            <LinkCard imageUrl='/assets/regulament.png' href="/">
                <h2 class="h3">Regulament</h2>
            </LinkCard>

            <LinkCard imageUrl='/assets/forum.png' href="/">
                <h2 class="h3">Forum</h2>
            </LinkCard>

            <LinkCard imageUrl='/assets/donatii.png' href="/">
                <h2 class="h3">Donatii</h2>
            </LinkCard>
        </div>
    </Container>
</section>